
/* Inputs */

.stacks input.form-autocomplete,
.stacks input.form-text,
.stacks input.form-tel,
.stacks input.form-email,
.stacks input.form-url,
.stacks input.form-search,
.stacks input.form-number,
.stacks input.form-color,
.stacks input.form-file,
.stacks input.form-date,
.stacks input.form-time,
.stacks textarea.form-textarea {
  padding: 0.75rem 1rem !important;
  color: #888 !important;
  border: 1px solid #ddd !important;
  background-color: #fff !important;
  box-shadow: none !important;
  font-size: 1rem !important;
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: #aaa;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px #ccc;
}

/* Add widget wrapper styling */
.add-widget-wrapper {
  padding: 1.75rem 0;
  text-align: center;
  border: 2px dashed #ddd;
}

.add-widget-wrapper a::after {
  display: inline;
  content: " +";
  font-size: 1.2em;
  font-weight: bold;
}

/* Widget form - styling for form wrapper */
.widget-form .stacks {
  padding-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fafaf8;
}

/* Widget title - name of the widget */
.widget-title {
  margin: 0;
  margin-bottom: 1rem !important;
  padding: 1.25rem;
  color: #666;
  background: #fafbf6;
  background: -moz-linear-gradient(top, #fafbf6 0%, #e7e7e5 100%);
  background: -webkit-linear-gradient(top, #fafbf6 0%,#e7e7e5 100%);
  background: linear-gradient(to bottom, #fafbf6 0%,#e7e7e5 100%);
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  font-size: 16px;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbf6', endColorstr='#e7e7e5',GradientType=0 );
}

.widget_type_list {
  position: relative;
  top: 22px;
  right: 30px;
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
}

.field--type-stacks-type .field-multiple-table th { display: none; }

.field--type-stacks-type .field-multiple-table tbody tr { border-bottom: 0; }
.field--type-stacks-type .field-multiple-table tbody td { padding: 15px 20px; }

.field--type-stacks-type .field-multiple-table form.stacks th {
  display: table-cell;
}
.widget-collapsed__buttons { text-align: right; }

/* Gray admin links */

/* Override gray buttons to look like links */
.link--gray.button.form-submit,
.ief-entity-operations input:last-child {
  transition: all 0.25s ease-in-out !important;
  color: #999 !important;
  border: 0 !important;
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  font-size: 13px !important;
}

.link--gray.button.form-submit:hover { color: #000 !important; }

.stacks .widget-wrap {
  padding: 1rem 2rem;
  border: 0;
  background: transparent;
}

.ui-tabs .ui-tabs-panel { padding: 0; }

.stacks .ui-state-active,
.stacks .ui-widget-content .ui-state-active,
.stacks .ui-widget-header .ui-state-active,
.stacks .ui-state-default,
.stacks .ui-widget-content .ui-state-default,
.stacks .ui-widget-header .ui-state-default {
  border: 0;
  background: transparent;
}

.stacks .ui-tabs .ui-tabs-nav {
  padding: 0;
  border: 0;
  background: transparent;
}

.stacks .ui-tabs .ui-tabs-nav li {
  padding: 0 1rem 0.5rem 0;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 0;
  background: none;
}

.stacks .ui-tabs .ui-tabs-nav li:not(.ui-state-active) a {
  color: #999;
  border-bottom: 0;
  border-radius: 0;
}
.stacks .ui-tabs .ui-tabs-nav .ui-state-active a,
.stacks .ui-widget-content .ui-state-active a {
  border-bottom: 3px solid;
  border-radius: 0;
}

.ui-tabs .ui-state-default,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 0;
  background: #fff;
}

.hide {
  display: none;
}

.form-item-widget-theme span div {
  padding: 10px 10px 5px 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.widget_template_radio,
.widget_theme_radio {
  display: none;
  float: left;
  padding: 5px;
  cursor: pointer;
}

/* Hide the add row button. */
.field--type-stacks-type .field-add-more-submit {
  display: none;
}
.field--type-stacks-type form.stacks .field-add-more-submit {
  display: initial;
}

.widget_type_list {
  float: right;
}

.ief-entity-table thead {
  display: none;
}

.type_contentlist div[data-drupal-selector^="edit-inline-entity-form-"][data-drupal-selector$="-wrapper"] {
  position: relative;
}
.type_contentlist fieldset[data-drupal-selector^="edit-inline-entity-form-"][data-drupal-selector$="-form"] {
  position: relative;
}
.type_contentlist fieldset[data-drupal-selector^="edit-inline-entity-form-"][data-drupal-selector$="-form"] .fieldset-wrapper {
  margin-top: 20px;
}

.type_contentlist select[data-drupal-selector^="edit-inline-entity-form-"][data-drupal-selector$="-actions-bundle"],
.type_contentlist fieldset[data-drupal-selector^="edit-inline-entity-form-"] legend,
.type_contentlist fieldset[data-drupal-selector^="edit-inline-entity-form-"] .ajax-progress-throbber,
.type_ief_tabs select[data-drupal-selector^="edit-inline-entity-form-"][data-drupal-selector$="-actions-bundle"],
.type_ief_tabs fieldset[data-drupal-selector^="edit-inline-entity-form-"] legend,
.type_ief_tabs fieldset[data-drupal-selector^="edit-inline-entity-form-"] .ajax-progress-throbber {
  display: none !important;
}
.type_ief_tabs {
  position: relative;
}

#tabs-clist-bundles {
  position: absolute;
  top: -43px;
}

.ajaxvalidation-ok {
  display: inline-block;
  padding-left: 20px;
  background: url("/core/misc/icons/73b355/check.svg") no-repeat scroll 0 3px;
}
.ajaxvalidation-fail {
  display: inline-block;
  padding-left: 20px;
  color: #a51b00;
  background: url("/core/misc/icons/e32700/error.svg") no-repeat scroll 0 3px;
}

.locked_img {
  position: relative;
  width: 18px;
  height: 18px;
  background: url("../images/lock.png") no-repeat;
}

.existing_stacks_support { display: none; }

/* Styling for tabs on existing */
#tabs-existing-widget .form-item-table-pager {
  position: relative;
  top: -40px;
}
#tabs-existing-widget .form-item-table-pager input { display: none; }
#tabs-existing-widget .form-item--table-pager input { display: none; }

/* Standard button */
.button:disabled { opacity: 0.3; }

/* Adds padding to second page wrappers */
.step_2_wrapper {
  padding: 1rem 2rem;
}
.step_2_wrapper_widget_name {
  padding: 0 2em;
}
.field--type-stacks-type .step_2_wrapper_widget_name .form-item {
  margin: 0 !important;
}

/* Separates action buttons (submit/cancel/etc.) from the options */
.field--type-stacks-type .stacks .form-actions {
  margin-bottom: 0 !important;
  padding: 1rem 1.5rem 0 1.5rem;
  text-align: right;
  border-top: 1px solid #ccc;
  align-items: center;
}

.field--type-stacks-type .stacks .form-actions > a {
  margin-right: 10px;
}

body.stacks-seven .field--type-stacks-type .stacks .form-actions > a {
  margin-right: 0px;
}

body.stacks-seven .field--type-stacks-type .stacks .form-item {
  margin: 1.25rem 0;
}

.widget-form .stacks .form-wrapper {
  margin-bottom: 0;
}

/* Fieldsets */
.stacks .developer-settings {
  margin: 0 2rem 1rem;
}
.stacks summary {
  background: transparent;
}
body.stacks-seven .stacks .developer-settings details {
  margin-top: -1rem;
}
body.stacks-seven .stacks details {
  margin: 1rem 0;
  border: 0;
}

/* Widget remove styling */
.widget-removed {
  padding: 1.25rem 1rem 0.25rem;
  text-align: center;
}
.widget-removed p,
.widget-removed h3 {
  color: #b64604;
}
.widget-removed h3 {
  margin: 0 0 0.15rem;
}
.widget-removed p {
  margin: 0;
}
.widget-removed a {
  text-decoration: underline;
  color: #b64604;
}
.widget-removed a:hover {
  color: #9a3c05;
}

.remove-widget:hover {
  color: #b64604;
}

.remove-widget {
  margin-right: 10px;
}

body.stacks-seven .remove-widget {
  margin-right: 0px;
}

/* Inline entity form styling overrides */
.ief-entity-table {
  margin-top: 1rem;
}
.ief-entity-table .ief-row-entity {
  border-top: 1px solid #ddd;
}
.ief-entity-table tbody td {
  padding: 15px 10px !important;
}

fieldset.ief-form {
  padding-top: 40px !important;
}
.ief-row-entity .ief-entity-operations input {
  float: right !important;
}
.ief-row-entity .ief-entity-operations input:last-child {
  padding: 7px !important;
}

/* Existing widgets */
.existing-widgets-table tr {
  cursor: pointer;
}
.existing-widgets-table tr.odd {
  background: #fff;
}
.existing-widgets-table tr.even {
  background-color: #f6f6f6;
}
.existing-widgets-table tr.selected-row td {
  background-color: #ddd;
}


/* Preview styling */

#contentfeed-grid-content-preview  {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
  margin: 2rem 0;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

#contentfeed-grid-content-preview a {
  border-top: 1px solid #ececec;
  display: block;
  padding: .5rem;
}

/* Front-end editor */
button.hidden {
  display: none;
}

.field--type-stacks-type .ui-tabs *:focus {
  box-shadow: none;
}

.field--type-stacks-type .ui-state-default a,
.field--type-stacks-type .ui-state-default a:link,
.field--type-stacks-type .ui-state-default a:visited,
.field--type-stacks-type a.ui-button,
.field--type-stacks-type a:link.ui-button,
.field--type-stacks-type a:visited.ui-button,
.field--type-stacks-type .ui-button {
  color: black;
}

/*
 * D9 workaround for seven-based themes, as jquery.ui was deprecated, some changes
 * on seven theme prevented the jquery.ui base.css from being overridden.
 *
 * @see https://www.drupal.org/node/3067969
 **/
body.stacks-seven .field--type-stacks-type .ui-state-default a,
body.stacks-seven .field--type-stacks-type .ui-state-default a:link,
body.stacks-seven .field--type-stacks-type .ui-state-default a:visited,
body.stacks-seven .field--type-stacks-type a.ui-button,
body.stacks-seven .field--type-stacks-type a:link.ui-button,
body.stacks-seven .field--type-stacks-type a:visited.ui-button,
body.stacks-seven .field--type-stacks-type .ui-button {
  color:#0074bd;
}
