.ajax_wrapper {
  position: relative;
  min-height: 100px;
}

.ajax-progress.ajax-progress-gridajax {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(240, 240, 240, 0.50);
  height: 100%;
  padding: 5px;
}

.ajax-progress-gridajax .gridajax {
  width: 100%;
  background: url('../img/ajax_loader.gif') no-repeat 50% 50%;
  height: 75px;
}

.ajax-progress-gridajax .message {
  width: 100%;
  text-align: center;
}

.ajax_results_pagination.load_more_scroll {
  display: none;
}
