<p>{{ 'This area is only meant to be used by Site Builders and Programmers. Changing things in this area could break the site.'|trans }}</p>

<div class="clearfix">

  <div class="layout-column layout-column--half">

    <div class="panel">
      <h3 class="panel__title">{{ 'Manage Configuration'|trans }}</h3>
      <div class="panel__content">
        <ul class="admin-list">
          <div class="admin-item">
            <li class="admin-item__title" style="list-style: none;">
              <a class="admin-item__link" href="{{ path('entity.widget_entity_type.collection') }}">
                <span class="label">{{ 'Manage widget bundles'|trans }}</span>
              </a>
              <div style="font-weight: normal" class="admin-item__description">{{ 'Create and manage widgets from here. This area contains all of the fields and options used for widgets.'|trans }}</div>
            </li>
          </div>
          {% if stacks_content_list_exist %}
            <div class="admin-item">
              <li class="admin-item__title" style="list-style: none;">
                <a class="admin-item__link" href="{{ path('entity.widget_extend_type.collection') }}">
                  <span class="label">{{ 'Manage extend bundles'|trans }}</span>
                </a>
                <div style="font-weight: normal" class="item__description">{{ 'This area manages the fields and options used for rows attached to Content List widgets.'|trans }}</div>
              </li>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

  <div class="layout-column layout-column--half">

    <div class="panel">
      <h3 class="panel__title">{{ 'Manage Content'|trans }}</h3>
      <div class="panel__content">
        <ul class="admin-list">
          <div class="admin-item">
          <li class="admin-item__title" style="list-style: none;">
            <a class="admin-item__link" href="{{ path('entity.widget_entity.collection') }}">
              <span class="label">{{ 'View widgets'|trans }}</span>
            </a>
            <div style="font-weight: normal" class="item__description">{{ 'View all the widgets that have been created.'|trans }}</div>
          </li>
          </div>
          <div class="admin-item">
          <li class="admin-item__title" style="list-style: none;">
            <a class="admin-item__link" href="{{ path('entity.widget_instance_entity.collection') }}">
              <span class="label">{{ 'View widget instances'|trans }}</span>
            </a>
            <div style="font-weight: normal" class="item__description">{{ 'View all widget instances that have been attached to nodes.'|trans }}</div>
          </li>
          </div>
          {% if stacks_content_list_exist %}
            <div class="admin-item">
            <li class="admin-item__title" style="list-style: none;">
              <a class="admin-item__link" href="{{ path('entity.widget_extend.collection') }}">
                <span class="label">{{ 'View extend instances'|trans }}</span>
              </a>
              <div style="font-weight: normal" class="item__description">{{ 'View all widget extend instances.'|trans }}</div>
            </li>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</div>
