{#
Determin which pager template to use.

$render_array = [
  '#type' => 'pager',
  '#which_pager' => $pager_type,
];
#}

{% if pager['#which_pager'] == 'mini' %}
  {% include active_theme_path() ~ "/templates/pager/pagermini.html.twig" %}
{% elseif pager['#which_pager'] == 'load_more' or pager['#which_pager'] == 'load_more_scroll' %}
  {% include active_theme_path() ~ "/templates/pager/pagerloadmore.html.twig" %}
{% else %}
  {% include active_theme_path() ~ "/stacks/templates/pager/pagerdefault.html.twig" %}
{% endif %}
